<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace = "~{fragments::head}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

<!-- Start Main Top -->
<header th:replace = "~{fragments:: main-header}"></header>
<!-- End Main Top -->

<!-- Start All Title Box -->
<div th:replace="fragments :: slider"></div>
<!-- End All Title Box -->

<section id="register-form">
    <div class="noi-dung">
        <div class="form">
            <h2>Register</h2>
            <div th:if = "${success}">
                <p class = "text-center alert alert-success" th:text = "${success}"></p>
            </div>
            <div th:if = "${error}">
                <p class = "text-center alert alert-danger" th:text = "${error}"></p>
            </div>
            <div th:if = "${password}">
                <p class = "text-center alert alert-danger" th:text = "${password}"></p>
            </div>
            <form th:action="@{/do-register}" method="POST" th:object="${customerDto}">
                <div class="input-form">
                    <div class="input-form">
                        <input type="text" th:field="*{firstName}" placeholder="First Name" name="firstname"  required>
                    </div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </div>
                <div class="input-form">
                    <div class="input-form">
                        <!-- <span>User name</span> -->
                        <input type="text" th:field="*{lastName}" placeholder="Last Name" name="lastname"  required>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>

                    <div class="input-form">
                        <div class="input-form">
                            <input type="text" th:field="*{username}" placeholder="Username" name="username"  required>
                        </div>
                        <div class="input-form">
                            <input type="password" th:field="*{password}" placeholder="Password" name="password"  required>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                        <div class="input-form">
                            <input type="password" th:field="*{repeatPassword}" placeholder="Verify password" name="confirm" required>
                        </div>
                        <div class="input-form">
                            <p>Do You Already Have An Account ? <a th:href = "@{/login}"> Sign in now </a></p>
                        </div>
                        <div class="input-form">
                            <input type="submit" value="Sign up">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<footer th:replace = "~{fragments:: footer}"></footer>


<!-- ALL JS FILES -->
<div th:replace = "~{fragments::script}"></div>
</body>

</html>